---
import { Image } from "astro:assets";
import { rangeToText } from "../../utils/number_range";
import type { ServiceData, ServiceDeliverable, ServiceExample } from "../../config/services";

interface Props {
    service: ServiceData;
    icon_eager_load: boolean;
    examples_open: boolean;
}
---

<service-card data-tier={Astro.props.service.tier} data-examples_open={Astro.props.examples_open}>
    <div class="bg-indigo-950/25 border border-indigo-900 pt-4 pb-8 rounded-lg shadow-xl/25 mb-8 overflow-hidden">
        <div class="flex justify-between gap-4 mx-4">
            <div class="flex flex-wrap items-center gap-2">
                <Image
                    src={Astro.props.service.tier_icon}
                    alt={`${Astro.props.service.tier}-Tier`}
                    class="size-12 drop-shadow-md/100"
                    widths={[256, 128]}
                    loading={Astro.props.icon_eager_load ? "eager" : "lazy"}
                />
                <h3 class="font-[MedievalSharp] text-2xl">{Astro.props.service.tier}</h3>
            </div>

            <span>{rangeToText(Astro.props.service.price, "$")}</span>
        </div>

        <div class="my-2 mx-4">
            <i class="material-icons mr-2">calendar_month</i>
            <span>{rangeToText(Astro.props.service.time)}&nbsp;Days</span>
        </div>

        <ul class="list-disc ml-12 mr-4">
            {Astro.props.service.deliverables.map((deliverable: ServiceDeliverable) => (
                <li class="my-1">
                    <span class="font-bold">{deliverable.tag}:&nbsp;</span>
                    <span>{deliverable.description}</span>
                </li>
            ))}
        </ul>

        <div class="relative mt-2">
            <button
                id={`${Astro.props.service.tier}-examples-btn`}
                class="absolute top-0 left-0 w-full h-8 bg-indigo-900 hover:bg-indigo-700 cursor-pointer"
                aria-label={`${Astro.props.service.tier}-Tier-Examples-Dropdown`}
            >
                <span>See Examples</span>
                <i id={`${Astro.props.service.tier}-examples-btn-arrow`} class="material-icons">
                    {Astro.props.examples_open ? "keyboard_arrow_up" : "keyboard_arrow_down"}
                </i>
            </button>

            <div
                id={`${Astro.props.service.tier}-examples-menu`}
                class={`overflow-hidden mx-4 flex flex-wrap gap-4 ${Astro.props.examples_open ? "pt-16" : "max-h-0"}`}
            >
                {Astro.props.service.examples.length === 0
                    ? <span class="text-indigo-300">No Examples Available...</span>
                    : Astro.props.service.examples.map((example: ServiceExample) => (
                        <div class="rounded-lg overflow-hidden border border-indigo-900 bg-indigo-950/25 flex-1 max-w-75 min-w-50">
                            <div class="w-full aspect-16/9 bg-cover bg-center" style={`background-image: url('${example.preview.src}');`} />

                            <h4 class="w-full text-center text-xl py-0.5 bg-indigo-600 font-[MedievalSharp] text-shadow-lg/50">
                                {example.title}
                            </h4>

                            <div class="px-2 py-4">
                                <div>
                                    <i class="material-icons mr-1">calendar_month</i>
                                    <span>{example.month},&nbsp;{example.year}</span>
                                </div>

                                <div class="my-1">
                                    <label for="Example-Link">
                                        <i class="material-icons mr-1">link</i>
                                        <span>Link:&nbsp;</span>
                                    </label>
                                    <a href={example.href} class="block text-blue-400 underline hover:text-blue-200 truncate">
                                        {example.href}
                                    </a>
                                </div>

                                <p class="italic text-center">"{example.description}"</p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</service-card>

<script>
    class ServiceCard extends HTMLElement {
        constructor() {
            super();

            const tier: string = this.dataset.tier ?? "";
            let is_showing: boolean = this.dataset.examples_open === "true";

            const btn: Element | null = document.getElementById(`${tier}-examples-btn`);
            const arrow: Element | null = document.getElementById(`${tier}-examples-btn-arrow`);
            const menu: Element | null = document.getElementById(`${tier}-examples-menu`);

            if (btn === null || arrow === null || menu === null) return;

            btn.addEventListener("click", () => {
                if (arrow === null || menu === null) return;

                is_showing = !is_showing;
                arrow.textContent = (is_showing
                    ? "keyboard_arrow_up"
                    : "keyboard_arrow_down"
                );
                menu.classList.toggle("max-h-0");
                menu.classList.toggle("pt-16");
            });
        }
    }

    customElements.define("service-card", ServiceCard);
</script>