---
import { Image } from "astro:assets";
import landing_links from "../../../../data/tiers/web/landing_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";

import example_logo from "../../../../assets/images/examples/example_logo.webp";
import example_hero from "../../../../assets/images/examples/example_hero.webp";
import example_cutout from "../../../../assets/images/examples/example_cutout.webp";

import cheese from "../../../../assets/images/examples/food/cheese.webp";
import garlic from "../../../../assets/images/examples/food/garlic.webp";
import mushroom from "../../../../assets/images/examples/food/mushroom.webp";
import pepperoni from "../../../../assets/images/examples/food/pepperoni.webp";
import tomato from "../../../../assets/images/examples/food/tomato.webp";

import example_reviews from "../../../../data/examples/example_reviews";

const scroll_nav_links: {
    tag: string;
    href: string;
}[] = [
    { tag: "Home", href: "#hero-section", },
    { tag: "Intro", href: "#intro-section", },
    { tag: "Reviews", href: "#review-section", },
    { tag: "Contact", href: "#contact-section", },
];

const food_icons: ImageMetadata[] = [
    cheese,
    garlic,
    mushroom,
    pepperoni,
    tomato
];
---

<ServiceLayout
    title="Landing Page Tier I"
    additional_links={[
        { rel: "preconnect", href: "https://fonts.googleapis.com" },
        { rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true },
        { rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" },
        { rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }
    ]}

    tier={1}
    links={landing_links}
>
    <!-- * Navigation Bar * -->
    <nav class="fixed bg-red-900 top-0 left-0 w-screen py-4 px-8 z-99 shadow-lg/50">
        <div class="relative flex justify-end">
            <Image
                src={example_logo}
                alt="Example-NavBar-Logo"
                class="size-20 absolute left-0 top-0 bg-yellow-100 border-4 border-red-900 rounded-full p-1 shadow-lg/50"
                widths={[128]}
                format="webp"
                quality={80}
                loading="eager"
            />

            <div class="gap-4 hidden sm:flex">
                {scroll_nav_links.map((nav_link) => (
                    <a
                        href={nav_link.href}
                        class="text-white cursor-pointer hover:underline"
                    >
                        {nav_link.tag}
                    </a>
                ))}
            </div>

            <nav-hamburger class="sm:hidden">
                <div class="p-1 cursor-pointer relative z-100" id="nav-burger-btn">
                    <div id="nav-burger-bar-1" class="bg-white transition duration-300 w-5 h-1" />
                    <div id="nav-burger-bar-2" class="bg-white transition duration-300 w-5 h-1 my-1" />
                    <div id="nav-burger-bar-3" class="bg-white transition duration-300 w-5 h-1" />
                </div>

                <div
                    class="pl-6 pr-24 pt-20 fixed right-0 top-0 bg-red-900 translate-x-full transition duration-150 h-screen flex flex-col gap-4"
                    id="nav-burger-menu"
                >
                    {scroll_nav_links.map((nav_link) => (
                        <a
                            href={nav_link.href}
                            class="text-white cursor-pointer hover:underline"
                            id="nav-burger-menu-item"
                        >
                            {nav_link.tag}
                        </a>
                    ))}
                </div>
            </nav-hamburger>
        </div>
    </nav>

    <!-- * Hero Section * -->
    <div
        class="h-[50vh] sm:h-[70vh] bg-black/50 bg-blend-multiply bg-cover bg-center text-white flex items-center justify-center mt-8"
        style={`background-image: url('${example_hero.src}');`}
        id="hero-section"
    >
        <div class="font-[Great_Vibes] text-shadow-lg/100 w-fit">
            <h1 class="text-3xl sm:text-5xl md:text-6xl lg:text-8xl mb-4">Lorenzo's Digital Pizzeria</h1>
            <h2 class="text-xl sm:text-3xl md:text-4xl lg:text-6xl text-center">Pizza Done Right</h2>
        </div>
    </div>
     
    <!-- * Introduction * -->
    <div
        class="mt-8 mx-8 sm:mx-16 flex items-center justify-around flex-col md:flex-row gap-8"
        id="intro-section"
    >
        <Image
            src={example_cutout}
            alt="Example-Owner-Cutout"
            class="w-full md:w-[50vw] max-w-150 mask-b-from-90%"
            widths={[640, 360]}
            format="webp"
            quality={80}
            loading="eager"
        />

        <div class="w-full md:w-[50vw] max-w-150">
            <h2 class="text-6xl mb-4 font-[Great_Vibes]">Welcome!</h2>
            <p class="text-lg">
                My name is Lorenzo, owner and operator of Lorenzo's Digital Pizzeria! Since as far back as I can remember, I've always loved the art of creating the perfect pizza. As a child, I'd help my grandfather every morning to prepare dough for our community's pizzeria. The smiles shown on every satisfied customer's face taught me the importance of sharing a good meal. That's why I opened the world's first fully digital pizzeria; so I can share my grandfather's beloved recipe with the world!
            </p>
        </div>
    </div>

    <!-- * Scrolling Decoration * -->
    <div class="mt-16 py-4 bg-black border-y-12 border-red-900 overflow-x-hidden">
        <div class="flex">
            {Array.from({ length: 2 }).map((_, iter_index) => (
                <div class="flex justify-around w-screen shrink-0 animate-[inf-scroll_20s_linear_infinite]">
                    {food_icons.map((icon, index) => (
                        <Image
                            src={icon}
                            alt={`Food-Icon-${iter_index}-${index}`}
                            class="size-10 sm:size-20"
                            widths={[128]}
                            format="webp"
                            quality={50}
                            loading="lazy"
                        />
                    ))}
                </div>
            ))}
        </div>
    </div>

    <!-- * Reviews * -->
    <div class="my-16 mx-8 sm:mx-16" id="review-section">
        <h3 class="text-6xl mx-auto w-fit font-[Great_Vibes] mb-8">Customer Reviews</h3>
        <div class="flex gap-16 flex-wrap justify-around items-stretch">
            {example_reviews.map((review) => (
                <div class="rounded-xl overflow-hidden max-w-100 bg-red-900 text-white flex-grow shadow-lg/50">
                    <div
                        class="w-full h-50 bg-center bg-cover"
                        style={`background-image: url('${review.picture.src}');`}
                    />

                    <div class="p-6">
                        <div class="flex items-center justify-center">
                            <i class="material-icons mr-2 border-2 rounded-full p-1" style="font-size: 38px;">person</i>
                            <p class="font-[Great_Vibes] text-2xl">{review.customer}</p>
                        </div>
                        <div class="flex justify-center gap-1 my-2">
                            {Array.from({ length: review.stars }).map(() => (
                                <i class="material-icons">star</i>
                            ))}
                        </div>
                        <p class="italic text-center">"{review.description}"</p>
                    </div>
                </div>
            ))}
        </div>
    </div>

    <!-- * Contact Form * -->
    <div class="bg-linear-to-t from-yellow-100 to-transparent w-full h-16 mt-8" />
    <div class="bg-yellow-100 py-16 px-8 sm:px-16" id="contact-section">
        <h3 class="text-6xl mx-auto w-fit font-[Great_Vibes] mb-8">Get In Touch</h3>
        <table class="mx-auto">
            <tbody>
                <tr>
                    <td class="pt-4 pr-4">
                        <label class="font-bold" for="name-input">Name:</label>
                    </td>
                    <td>
                        <input
                            placeholder="Enter your name..."
                            type="text"
                            class="mt-4 border-1 border-gray-400 p-2 rounded bg-gray-100 w-full"
                            id="name-input"
                        />
                    </td>
                </tr>
                <tr>
                    <td class="pt-4 pr-4">
                        <label class="font-bold" for="email-input">Email:</label>
                    </td>
                    <td>
                        <input
                            placeholder="Enter your email..."
                            type="email"
                            class="mt-4 border-1 border-gray-400 p-2 rounded bg-gray-100 w-full"
                            id="email-input"
                        />
                    </td>
                </tr>
                <tr>
                    <td class="pt-4 pr-4">
                        <label class="font-bold" for="subject-input">Subject:</label>
                    </td>
                    <td>
                        <input
                            placeholder="Enter a subject..."
                            type="text"
                            class="mt-4 border-1 border-gray-400 p-2 rounded bg-gray-100 w-full"
                            id="subject-input"
                        />
                    </td>
                </tr>

                <tr>
                    <td colspan={2} class="pt-4">
                        <label class="font-bold" for="message-input">Message:</label>
                    </td>
                </tr>
                <tr>
                    <td colspan={2}>
                        <textarea
                            placeholder="Enter your message..."
                            class="border-1 border-gray-400 p-2 mt-2 rounded w-full bg-gray-100"
                            id="message-input"
                        />
                    </td>
                </tr>

                <tr>
                    <td colspan={2} class="pt-4">
                        <button class="bg-black hover:bg-zinc-800 text-white cursor-pointer py-2 px-4 rounded-xl font-bold">
                            Send Email
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- * Footer * -->
    <footer class="py-8 px-8 sm:px-16 bg-black text-yellow-100 flex gap-16 justify-around flex-col md:flex-row items-center">
        <div class="flex flex-col sm:flex-row items-center">
            <Image
                src={example_logo}
                alt="Example-Footer-Logo"
                class="size-30"
                widths={[256]}
                format="webp"
                quality={80}
                loading="lazy"
            />
            <div class="sm:ml-4">
                <h3 class="text-3xl mb-2 text-center sm:text-left font-[Great_Vibes]">Lorenzo's</h3>
                <div class="flex mb-1">
                    <i class="material-icons pr-2">home</i>
                    <p>123 Road Ave. Town, ST 12345</p>
                </div>
                <div class="flex mb-1">
                    <i class="material-icons pr-2">email</i>
                    <p class="cursor-pointer hover:underline">lorenzo-pizza@example.com</p>
                </div>
                <div class="flex">
                    <i class="material-icons pr-2">phone</i>
                    <p class="cursor-pointer hover:underline">(123) 456-7890</p>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-center font-bold text-xl mb-2">HOURS</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="text-right font-bold">Monday&nbsp;-&nbsp;Friday:&nbsp;</td>
                        <td>10am&nbsp;-&nbsp;10pm</td>
                    </tr>
                    <tr>
                        <td class="text-right font-bold">Saturday:&nbsp;</td>
                        <td>10am&nbsp;-&nbsp;1pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </footer>
</ServiceLayout>

<style>
    @keyframes inf-scroll {
        from { transform: translateX(0%); }
        to { transform: translateX(-100%); }
    }
</style>

<script>
    class NavHamburger extends HTMLElement {
        private is_menu_open: boolean = false;

        constructor() {
            super();
            this.setupMenuToggle();
        }

        private setupMenuToggle(): void {
            let btn: Element | null = null;
            let menu: Element | null = null;

            for (let idx: number = 0; idx < this.children.length; ++idx) {
                const cur_elem: Element | null = this.children.item(idx);

                if (cur_elem === null) {
                    continue;
                }

                switch (cur_elem.id) {
                    case "nav-burger-btn":
                        btn = cur_elem;
                        break;
                    case "nav-burger-menu":
                        menu = cur_elem;
                        break;
                }
            }

            if (
                btn === null ||
                menu === null
            ) {
                return;
            }

            let bar_1: Element | null = null;
            let bar_2: Element | null = null;
            let bar_3: Element | null = null;

            for (let idx: number = 0; idx < btn.children.length; ++idx) {
                const cur_elem: Element | null = btn.children.item(idx);

                if (cur_elem === null) {
                    continue;
                }

                switch (cur_elem.id) {
                    case "nav-burger-bar-1":
                        bar_1 = cur_elem;
                        break;
                    case "nav-burger-bar-2":
                        bar_2 = cur_elem;
                        break;
                    case "nav-burger-bar-3":
                        bar_3 = cur_elem;
                        break;
                }
            }

            if (
                bar_1 === null ||
                bar_2 === null ||
                bar_3 === null
            ) {
                return;
            }

            const toggleMenuOpen = () => {
                this.is_menu_open = !this.is_menu_open;

                menu.classList.toggle("translate-x-full");

                bar_1.classList.toggle("-rotate-45");
                bar_1.classList.toggle("translate-y-2");
                bar_2.classList.toggle("rotate-45");
                bar_3.classList.toggle("scale-y-0");
            };

            for (let idx: number = 0; idx < menu.children.length; ++idx) {
                const cur_elem: Element | null = menu.children.item(idx);

                if (cur_elem === null) {
                    continue;
                }

                if (cur_elem.id === "nav-burger-menu-item") {
                    cur_elem.addEventListener("click", () => {
                        if (this.is_menu_open) {
                            toggleMenuOpen();
                        }
                    })
                }
            }

            btn.addEventListener("click", toggleMenuOpen);
            document.addEventListener("click", (ev: PointerEvent) => {
                if (!this.is_menu_open) {
                    return;
                }

                const target = ev.target as Node | null;
                
                if (target === null) {
                    return;
                }

                if (btn.contains(target) || menu.contains(target)) {
                    return;
                }

                toggleMenuOpen();
            });
        }
    }

    customElements.define("nav-hamburger", NavHamburger);
</script>