---
import "../../styles/home_page.css";
import Image from "astro/components/Image.astro";
import NavLayout from "../layouts/NavLayout.astro";
import Carousel from "../containers/Carousel.astro";
import dev_services from "../../config/dev_services";
import ServiceCard from "../cards/ServiceCard.astro";
import PriorWorkCard from "../cards/PriorWorkCard.astro";
import contact_details from "../../config/contact_details";
import type { Languages } from "../../config/language_config";
import translate, { type TranslationFileKey } from "../../utils/content/translation";

import SNOW from "../../assets/PLACEHOLDER/SNOW.jpg";
import PROFILE from "../../assets/PLACEHOLDER/PROFILE.jpg";

interface Props {
    language: Languages
};

interface DevServiceColor {
    dark_color: string;
    bright_color: string;
};

interface PriorWorkData {
    project_preview: ImageMetadata;
    title: TranslationFileKey["prior_works"];
    client: string;
    description: TranslationFileKey["prior_works"];
    project_href?: string;
};

const dev_service_colors: DevServiceColor[] = [
    {
        dark_color: "#F0B100",
        bright_color: "#FFDF20"
    }, {
        dark_color: "#615FFF",
        bright_color: "#A3B3FF"
    }, {
        dark_color: "#00BC7D",
        bright_color: "#5EE9B5"
    }
];

if (dev_services.length > dev_service_colors.length) {
    throw new Error("Not enough service colors defined!");
}

const prior_work_data: PriorWorkData[] = [
    {
        project_preview: SNOW,
        title: "view_here",
        client: "Up your Ass LLC",
        description: "view_here",
        project_href: "/"
    }, {
        project_preview: SNOW,
        title: "view_here",
        client: "Up your Ass LLC",
        description: "view_here",
        project_href: "/"
    }, {
        project_preview: SNOW,
        title: "view_here",
        client: "Up your Ass LLC",
        description: "view_here",
        project_href: "/"
    }, {
        project_preview: SNOW,
        title: "view_here",
        client: "Up your Ass LLC",
        description: "view_here",
        project_href: "/"
    }
];
---

<NavLayout language={Astro.props.language} style="background-color: transparent;">
    <!-- 3D Canvas -->
    <home-page-canvas />

    <!-- Hero Section -->

    <section class="home-hero-section">
        <div class="weight-bold text-xl">
            <span class="text-bright">{translate(Astro.props.language, "home_page", "hero_upper_prefix")}</span>
            <span class="text-primary">{translate(Astro.props.language, "home_page", "hero_upper_primary")}</span>
            <span class="text-bright">{translate(Astro.props.language, "home_page", "hero_upper_separator")}</span>
            <span class="text-secondary">{translate(Astro.props.language, "home_page", "hero_upper_secondary")}</span>
            <span class="text-bright">{translate(Astro.props.language, "home_page", "hero_upper_suffix")}</span>
        </div>

        <br />

        <span class="text-lg">
            {translate(Astro.props.language, "home_page", "hero_lower")}
        </span>
    </section>

    <!-- About Section -->

    <section class="home-about-section">
        <div class="home-about-text-container">
            <div>
                <h1 class="text-xl text-bright weight-normal">{translate(Astro.props.language, "home_page", "about_title")}</h1>
                <h2 class="text-lg weight-normal">{translate(Astro.props.language, "home_page", "about_subtitle")}</h2>
            </div>

            <p>{translate(Astro.props.language, "home_page", "about_paragraph")}</p>
        </div>

        <div class="home-about-image-container">
            <Image
                src={SNOW}
                alt="About-1"
                class="rounded home-about-image-1"
                loading="lazy"
            />

            <Image
                src={PROFILE}
                alt="About-2"
                class="rounded-full home-about-image-2",
                loading="lazy"
            />
        </div>
    </section>

    <!-- Prior Work Showcase Section -->

    <section>
        <div class="home-work-showcase-title">
            <h1 class="text-xl text-bright weight-normal">{translate(Astro.props.language, "home_page", "work_showcase_title")}</h1>
            <h2 class="text-lg weight-normal">{translate(Astro.props.language, "home_page", "work_showcase_subtitle")}</h2>
        </div>

        <Carousel>
            {prior_work_data.map((prior_work) => (
                <PriorWorkCard
                    language={Astro.props.language}
                    {...prior_work}
                />
            ))}
        </Carousel>
    </section>

    <!-- Services Section -->

    <section class="home-services-section">
        <div>
            <h1 class="text-xl text-bright weight-normal">{translate(Astro.props.language, "home_page", "dev_services_title")}</h1>
            <h2 class="text-lg weight-normal">{translate(Astro.props.language, "home_page", "dev_services_subtitle")}</h2>
        </div>

        <div class="home-services-card-container">
            {dev_services.map((service, index) => (
                <ServiceCard
                    service={service}
                    language={Astro.props.language}
                    dark_color={dev_service_colors[index].dark_color}
                    bright_color={dev_service_colors[index].bright_color}
                />
            ))}
        </div>

        <div>
            <b class="text-bright">{translate(Astro.props.language, "home_page", "dev_services_note_label")}</b>
            <span>{translate(Astro.props.language, "home_page", "dev_services_note_text")}</span>
        </div>
    </section>

    <!-- Contact Section -->

    <section class="home-contact-section">
        <div>
            <div>
                <h1 class="text-xl text-bright weight-normal">{translate(Astro.props.language, "home_page", "contact_title")}</h1>
                <h2 class="text-lg weight-normal">{translate(Astro.props.language, "home_page", "contact_subtitle")}</h2>
            </div>

            <div class="home-contact-container">
                {contact_details.map((details) => (
                    <div class="home-contact-details-container">
                        <div class="bg-light rounded drop-shadow home-contact-details-icon-container">
                            <Image
                                src={details.icon}
                                alt={`${details.label}-Icon`}
                                class="home-contact-details-icon"
                                loading="lazy"
                            />
                        </div>
                        <a
                            class="text-bright bg-light drop-shadow home-contact-details-label-container"
                            href={details.href}
                        >
                            {details.label}
                        </a>
                    </div>
                ))}
            </div>
        </div>

        <form
            id="home-contact-form"
            class="bg-light rounded drop-shadow home-contact-form"
        >
            <label for="contact-name-input" class="text-bright">
                {translate(Astro.props.language, "home_page", "contact_name_label")}
            </label>
            <input
                type="text"
                id="contact-name-input"
                class="bg-normal inner-shadow home-contact-form-input text-md text-bright"
                required
            />

            <label for="contact-email-input" class="text-bright">
                {translate(Astro.props.language, "home_page", "contact_email_label")}
            </label>
            <input
                type="email"
                id="contact-email-input"
                class="bg-normal inner-shadow home-contact-form-input text-md text-bright"
                required
            />

            <label for="contact-message-input" class="text-bright">
                {translate(Astro.props.language, "home_page", "contact_message_label")}
            </label>
            <textarea
                id="contact-message-input"
                class="bg-normal inner-shadow home-contact-form-input text-md text-bright"
                style="resize: vertical; min-height: 6rem;"
                required
            />

            <input
                type="submit"
                class="white-button home-contact-form-button"
                value={translate(Astro.props.language, "home_page", "contact_send_label")}
            />
        </form>
    </section>

    <script src="../../scripts/home_page.ts" />
</NavLayout>