---
import "../../styles/nav_layout.css";
import Image from "astro/components/Image.astro";
import translate from "../../utils/content/translation";
import navigation_bar_links from "../../config/navigation_bar";
import RootLayout, { type RootLayoutProps } from "./RootLayout.astro";
import novice_engineer_studio_logo from "../../assets/logos/novice_engineer_studio.webp";

interface Props extends RootLayoutProps {};

function isPageMatch(href: string): boolean {
    return (
        `client${Astro.props.language}${href.replaceAll(/[/\\]/g, "")}` ===
        Astro.url.pathname.replaceAll(/[/\\]/g, "")
    )
}
---

<RootLayout {...Astro.props as RootLayoutProps}>
    <nav class="nav-bar">
        <!-- Navigation Bar Logo and Title -->

        <a href={`/client/${Astro.props.language}/`} class="nav-logo-container">
            <Image
                src={novice_engineer_studio_logo}
                alt="Nav-Bar-Logo"
                class="nav-bar-logo"
                loading="eager"
            />

            <div class="nav-bar-title-container">
                <b class="text-lg text-bright">Novice Engineer</b>
                <br/>
                <span class="text-md text-bright">Studio</span>
            </div>
        </a>

        <!-- Navigation Link Horizontal List -->

        <div class="nav-link-list">
            {navigation_bar_links.map((nav_link) => (
                <a
                    class={`nav-link text-lg ${isPageMatch(nav_link.href) ? "text-bright weight-bold" : "text-normal"}`}
                    href={`${nav_link.is_external ? "" : `/client/${Astro.props.language}`}${nav_link.href}`}
                >
                    {translate(Astro.props.language, "common", nav_link.label)}
                </a>
            ))}
        </div>

        <!-- Small Screen Hamburger Button -->

        <button id="nav-hamburger-button" class="nav-hamburger-button">
            <div id="nav-hamburger-bar-1" class="nav-hamburger-bar" />
            <div id="nav-hamburger-bar-2" class="nav-hamburger-bar" />
            <div id="nav-hamburger-bar-3" class="nav-hamburger-bar" />
        </button>
    </nav>

    <!-- Small Screen Hamburger Menu -->

    <div id="nav-hamburger-menu" class="nav-hamburger-menu">
        {navigation_bar_links.map((nav_link, index) => (
            <a
                class={`nav-link text-lg ${isPageMatch(nav_link.href) ? "text-bright weight-bold" : "text-normal"}`}
                href={`${nav_link.is_external ? "" : `/client/${Astro.props.language}`}${nav_link.href}`}
            >
                {translate(Astro.props.language, "common", nav_link.label)}
            </a>
        ))}
    </div>

    <slot />

    <script src="../../scripts/navigation_hamburger.ts" />
</RootLayout>