---
import { Image } from "astro:assets";
import NavLayout from "../../../layouts/NavLayout.astro";
import { rangeToText } from "../../../utils/number_range";
import threejs_services from "../../../config/threejs_services";
import type { ServiceData, ServiceDeliverable, ServiceExample } from "../../../config/services";
---

<NavLayout
    title="ThreeJS Services"

    bodyClass="bg-linear-to-tr to-gray-800 from-gray-950 text-white py-16 px-8 sm:px-16 md:px-32"
>
    <h1 class="font-[MedievalSharp] text-center text-6xl sm:text-8xl text-amber-300 text-shadow-lg/50">ThreeJS</h1>

    <div class="flex flex-col sm:flex-row justify-around items-center gap-8 my-16">
        <gem-canvas class="w-full sm:w-1/2 max-h-[50vh] aspect-square"></gem-canvas>
        
        <div class="text-shadow-lg/50 max-w-none sm:max-w-1/2">
            <h2 class="font-[MedievalSharp] text-4xl mb-2">What is ThreeJS?</h2>
            <p>ThreeJS is a powerful tool that brings 3D graphics and animations right into a web browser—no extra software needed. With it, your website can go beyond static images and text, offering interactive experiences like dynamic product showcases, immersive backgrounds, or even mini-games that run smoothly across devices. It&apos;s a great way to capture attention, stand out from competitors, and give visitors something memorable and engaging to explore.</p>
        </div>
    </div>

    <h2 class="font-[MedievalSharp] text-4xl text-shadow-lg/50">Service Tiers</h2>
    <hr class="text-gray-700 mb-8"/>
    {threejs_services.map((service: ServiceData, index: number) => (
        <div class="bg-indigo-950/25 border border-indigo-900 pt-4 pb-8 rounded-lg shadow-xl/25 mb-8 overflow-hidden">
            <div class="flex justify-between gap-4 mx-4">
                <div class="flex flex-wrap items-center gap-2">
                    <Image
                        src={service.tier_icon}
                        alt={`${service.tier}-Tier`}
                        class="size-12 drop-shadow-md/100"
                        widths={[256, 128]}
                        loading={index === 0 ? "eager" : "lazy"}
                    />
                    <h3 class="font-[MedievalSharp] text-2xl">{service.tier}</h3>
                </div>

                <span>{rangeToText(service.price, "$")}</span>
            </div>

            <div class="my-2 mx-4">
                <i class="material-icons mr-2">calendar_month</i>
                <span>{rangeToText(service.time)}&nbsp;Days</span>
            </div>

            <ul class="list-disc ml-12 mr-4">
                {service.deliverables.map((deliverable: ServiceDeliverable) => (
                    <li class="my-1">
                        <span class="font-bold">{deliverable.tag}:&nbsp;</span>
                        <span>{deliverable.description}</span>
                    </li>
                ))}
            </ul>

            <div class="relative mt-2">
                <button
                    id={`${service.tier}-examples-btn`}
                    class="absolute top-0 left-0 w-full h-8 bg-indigo-900 hover:bg-indigo-700 cursor-pointer"
                    aria-label={`${service.tier}-Tier-Examples-Dropdown`}
                >
                    <span>See Examples</span>
                    <i id={`${service.tier}-examples-btn-arrow`} class="material-icons">
                        {index === 0 ? "keyboard_arrow_up" : "keyboard_arrow_down"}
                    </i>
                </button>

                <div
                    id={`${service.tier}-examples-menu`}
                    class={`overflow-hidden mx-4 flex flex-wrap gap-4 ${index === 0 ? "pt-16" : "max-h-0"}`}
                >
                    {service.examples.length === 0
                        ? <span class="text-indigo-300">No Examples Available...</span>
                        : service.examples.map((example: ServiceExample) => (
                            <div class="rounded-lg overflow-hidden border border-indigo-900 bg-indigo-950/25 flex-1 max-w-75 min-w-50">
                                <div class="w-full aspect-16/9 bg-cover bg-center" style={`background-image: url('${example.preview.src}');`} />

                                <h4 class="w-full text-center text-xl py-0.5 bg-indigo-500">
                                    {example.title}
                                </h4>

                                <div class="px-2 py-4">
                                    <div>
                                        <i class="material-icons mr-1">calendar_month</i>
                                        <span>{example.month},&nbsp;{example.year}</span>
                                    </div>

                                    <div class="my-1">
                                        <label for="Example-Link">
                                            <i class="material-icons mr-1">link</i>
                                            <span>Link:&nbsp;</span>
                                        </label>
                                        <a href={example.href} class="block text-blue-400 underline hover:text-blue-200 truncate">
                                            {example.href}
                                        </a>
                                    </div>

                                    <p class="italic text-center">"{example.description}"</p>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    ))}
</NavLayout>

<script>
    import * as THREE from "three";
    import type { ServiceData } from "../../../config/services";
    import threejs_services from "../../../config/threejs_services";
    import { GLTFLoader, type GLTF } from "three/addons/loaders/GLTFLoader.js";

    class GemCanvas extends HTMLElement {
        private scene: THREE.Scene = new THREE.Scene();
        private renderer: THREE.WebGLRenderer = new THREE.WebGLRenderer({antialias: true});
        private camera: THREE.PerspectiveCamera = new THREE.PerspectiveCamera(
            70.0,
            1.0,
            0.1,
            20.0
        );

        private model: THREE.Group<THREE.Object3DEventMap> | null = null;

        private last_time: number = Date.now() * 0.001;
        private rotate_speed: number = 0.5;
        private bob_height: number = 0.5;
        private bob_speed: number = 1.25;
        
        constructor() {
            super();

            this.camera.position.z = 4.0;
            this.renderer.setClearAlpha(0.0);
            this.renderer.setPixelRatio(window.devicePixelRatio);

            this.scene.add(new THREE.AmbientLight(0xffffff, 1.0));

            const directional_light = new THREE.DirectionalLight(0xffffff, 5.0);
            directional_light.position.set(5, 10, 7.5);
            this.scene.add(directional_light);

            this.renderer.domElement.style.width = "100%";
            this.renderer.domElement.style.height = "100%";
            this.appendChild(this.renderer.domElement);

            this.onResize();
            window.addEventListener("resize", this.onResize.bind(this));

            this.mainLoop();
            this.loadModel("/models/primitives/gem.glb");
        }

        private async loadModel(model_path: string): Promise<void> {
            const modelLoader = new GLTFLoader();

            modelLoader.load(model_path, (model: GLTF) => {
                this.scene.add(model.scene);

                model.scene.position.set(0.0, 0.0, 0.0);
                model.scene.rotation.set(-0.1, 0.0, 0.4);

                model.scene.traverse((scene_object: THREE.Object3D<THREE.Object3DEventMap>) => {
                    const mesh_candidate: THREE.Mesh = scene_object as THREE.Mesh;

                    if (!mesh_candidate.isMesh) {
                        return;
                    }

                    mesh_candidate.material = new THREE.MeshStandardMaterial({
                        color: 0x24c488,
                        transparent: true,
                        opacity: 0.75,
                    });
                    mesh_candidate.material.side = THREE.DoubleSide;
                });

                this.model = model.scene;
            });
        }

        private onResize(): void {
            const width: number = this.clientWidth;
            const height: number = this.clientHeight;

            this.renderer.setSize(width, height, false);

            this.camera.aspect = width / height;
            this.camera.updateProjectionMatrix();
        }

        private mainLoop(): void {
            const cur_time: number = Date.now() * 0.001;
            const delta_time: number = cur_time - this.last_time;
            this.last_time = cur_time;

            this.model?.position.setY(Math.sin(cur_time * this.bob_speed) * this.bob_height);
            this.model?.rotateY(delta_time * this.rotate_speed);

            this.renderer.render(this.scene, this.camera);
            requestAnimationFrame(this.mainLoop.bind(this));
        }
    }

    customElements.define("gem-canvas", GemCanvas);

    threejs_services.forEach((service: ServiceData, index: number) => {
        const btn: HTMLElement | null = document.getElementById(`${service.tier}-examples-btn`);
        const arrow: HTMLElement | null = document.getElementById(`${service.tier}-examples-btn-arrow`);
        const menu: HTMLElement | null = document.getElementById(`${service.tier}-examples-menu`);

        if (btn === null || arrow === null || menu === null) return;

        let is_showing: boolean = index === 0;

        btn.addEventListener("click", () => {
            if (arrow === null || menu === null) return;

            is_showing = !is_showing;
            arrow.textContent = (is_showing
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            );
            menu.classList.toggle("max-h-0");
            menu.classList.toggle("pt-16");
        });
    });
</script>