---
import three_links from "../../../../data/tiers/web/three_links";
import ServiceLayout from "../../../../layouts/ServiceLayout.astro";

import brazil from "../../../../assets/images/examples/countries/brazil.webp";
import china from "../../../../assets/images/examples/countries/china.webp";
import germany from "../../../../assets/images/examples/countries/germany.webp";
import india from "../../../../assets/images/examples/countries/india.webp";
import japan from "../../../../assets/images/examples/countries/japan.webp";
import spain from "../../../../assets/images/examples/countries/spain.webp";
import uk from "../../../../assets/images/examples/countries/uk.webp";
import us from "../../../../assets/images/examples/countries/us.webp";

interface CountryData {
    name: string;
    banner: ImageMetadata;
    player_count: number;
    rotation: { x: number; y: number; z: number; }
};

function randomPlayerCount(): number {
    return Math.round(1000 + 10000 * Math.random());
}

function degToRad(degree: number): number {
    return degree * (Math.PI / 180.0);
}

const countries: CountryData[] = [
    {
        name: "Brazil",
        banner: brazil,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(-30.0), y: degToRad(-15.0), z: degToRad(0.0), },
    }, {
        name: "China",
        banner: china,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(10.0), y: degToRad(180.0), z: degToRad(0.0), },
    }, {
        name: "Germany",
        banner: germany,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(25.0), y: degToRad(-85.0), z: degToRad(0.0), },
    }, {
        name: "India",
        banner: india,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(0.0), y: degToRad(200.0), z: degToRad(0.0), },
    }, {
        name: "Japan",
        banner: japan,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(15.0), y: degToRad(140.0), z: degToRad(0.0), },
    }, {
        name: "Spain",
        banner: spain,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(20.0), y: degToRad(-75.0), z: degToRad(0.0), },
    }, {
        name: "United Kingdom",
        banner: uk,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(30.0), y: degToRad(-75.0), z: degToRad(0.0), },
    }, {
        name: "United States",
        banner: us,
        player_count: randomPlayerCount(),
        rotation: { x: degToRad(15.0), y: degToRad(15.0), z: degToRad(0.0), },
    },
];
---

<ServiceLayout
    title="ThreeJS Tier I"
    class="w-screen h-screen bg-linear-to-tr to-black from-blue-950 relative"

    tier={1}
    links={three_links}
>
    <world-panel>
        <div
            class="absolute top-1/2 -translate-y-1/2 right-8 md:right-16 text-white bg-zinc-800/75 shadow-lg/50 w-fit"
            id="country-list"
        >
            {countries.map((country) => (
                <div
                    id="country-banner"
                    data-target_rotation_x={country.rotation.x}
                    data-target_rotation_y={country.rotation.y}
                    data-target_rotation_z={country.rotation.z}
                >
                    <div
                        id="country-display"
                        class="max-h-0 overflow-hidden"
                    >
                        <div
                            class="flex items-end justify-between gap-4 pt-8 pb-2 px-2 bg-center bg-cover bg-blend-multiply bg-black/25"
                            style={`background-image: url('${country.banner.src}');`}
                        >
                            <h1 class="font-bold text-lg sm:text-xl md:text-2xl text-shadow-lg/50">{country.name}</h1>

                            <h2 class="text-md sm:text-lg md:text-xl text-shadow-lg/50">{country.player_count}&nbsp;Online</h2>
                        </div>
                    </div>

                    <h1
                        class="hover:font-bold cursor-pointer text-lg sm:text-xl md:text-2xl mx-2"
                        id="country-link"
                    >
                        {country.name}
                    </h1>
                </div>
            ))}
        </div>
    </world-panel>
</ServiceLayout>

<script>
    import * as THREE from "three";
    import world_texture from "../../../../assets/images/examples/world_texture.jpg";
    import world_normal from "../../../../assets/images/examples/world_normal.jpg";

    function findElement(parent: Element, id: string): Element | null {
        for (let idx: number = 0; idx < parent.children.length; ++idx) {
            const cur_elem: Element | null = parent.children.item(idx);

            if (cur_elem === null) {
                continue;
            }

            if (cur_elem.id === id) {
                return cur_elem;
            }
        }

        return null;
    }

    function findElements(parent: Element, id: string): Element[] {
        const results: Element[] = [];

        for (let idx: number = 0; idx < parent.children.length; ++idx) {
            const cur_elem: Element | null = parent.children.item(idx);

            if (cur_elem === null) {
                continue;
            }

            if (cur_elem.id === id) {
                results.push(cur_elem);
            }
        }

        return results;
    }

    function lerpEuler(a: THREE.Euler, b: THREE.Vector3, t: number): THREE.Vector3 {
        return new THREE.Vector3(
            a.x + (b.x - a.x) * t,
            a.y + (b.y - a.y) * t,
            a.z + (b.z - a.z) * t
        );
    }

    class WorldPanel extends HTMLElement {
        private nav_idx: number = 0;

        private render_width: number = 0;
        private render_height: number = 0;

        private scene: THREE.Scene;
        private camera: THREE.OrthographicCamera;
        private renderer: THREE.WebGLRenderer;

        private world_mesh: THREE.Mesh;

        private last_time: number = Date.now();
        private rotation_speed: number = 2.0;
        private target_rotation: THREE.Vector3 = new THREE.Vector3(0.0, 3.14, 0.0);

        constructor() {
            super();

            this.render_width = window.innerWidth;
            this.render_height = window.innerHeight;

            this.scene = new THREE.Scene();
            this.camera = new THREE.OrthographicCamera(-1, 1, 1, -1, 0.1, 10);
            this.renderer = new THREE.WebGLRenderer({
                antialias: true,
            });

            const clearColor: THREE.Color = new THREE.Color(0, 0, 0);
            this.renderer.setClearColor(clearColor, 0);
            this.renderer.setPixelRatio(2);

            const texture_loader: THREE.TextureLoader = new THREE.TextureLoader();
            const earth_texture: THREE.Texture = texture_loader.load(world_texture.src);
            const earth_normal: THREE.Texture = texture_loader.load(world_normal.src);

            const sphere_resolution: number = 128;
            const geometry: THREE.SphereGeometry = new THREE.SphereGeometry(1, sphere_resolution, sphere_resolution);
            const material: THREE.MeshStandardMaterial = new THREE.MeshStandardMaterial({
                map: earth_texture,
                normalMap: earth_normal,
            });

            this.world_mesh = new THREE.Mesh(geometry, material);
            this.world_mesh.position.set(-0.5, -0.5, -5);
            this.scene.add(this.world_mesh);

            const point_light = new THREE.PointLight(0xffffff, 50, 10);
            point_light.position.set(2, 2, -2);
            this.scene.add(point_light);

            const directional_light = new THREE.DirectionalLight(0x0055ff, 1);
            directional_light.position.set(2, 2, 2);
            this.scene.add(directional_light);

            const ambient_light = new THREE.AmbientLight(0x0055ff, 0.25);
            this.scene.add(ambient_light);

            this.appendChild(this.renderer.domElement);

            this.onResize();
            this.renderWorld();

            this.setupNavMenu();
            
            window.addEventListener("resize", this.onResize.bind(this));
        }

        private onResize(): void {
            this.render_width = window.innerWidth;
            this.render_height = window.innerHeight;

            this.renderer.setSize(this.render_width, this.render_height);

            const scale_view: number = this.render_height / this.render_width;
            this.camera.top = scale_view;
            this.camera.bottom = -scale_view;
            this.camera.updateProjectionMatrix();
        }

        private renderWorld(): void {
            this.renderer.render(this.scene, this.camera);

            const cur_time: number = Date.now();
            const delta_time: number = (cur_time - this.last_time) / 1000;
            this.last_time = cur_time;

            this.world_mesh.rotation.setFromVector3(lerpEuler(
                this.world_mesh.rotation,
                this.target_rotation,
                delta_time * this.rotation_speed
            ));
        
		    requestAnimationFrame(this.renderWorld.bind(this));
        }

        private setupNavMenu(): void {
            const banner_list: Element | null = findElement(this, "country-list");
            if (banner_list === null) return;

            const banners: HTMLElement[] = findElements(
                banner_list,
                "country-banner"
            ) as HTMLElement[];

            if (banners.length === 0) return;

            let found_all_components: boolean = true;
            const displays: Element[] = [];
            const links: Element[] = [];
            const rotations: THREE.Vector3[] = [];

            const setItem = (index: number): void => {
                links[this.nav_idx].classList.remove("hidden");
                displays[this.nav_idx].classList.add("max-h-0");

                this.nav_idx = index;

                links[this.nav_idx].classList.add("hidden");
                displays[this.nav_idx].classList.remove("max-h-0");

                this.target_rotation = rotations[this.nav_idx];
            };


            banners.forEach((banner: HTMLElement, index: number): void => {
                const display: Element | null = findElement(banner, "country-display");
                const link: Element | null = findElement(banner, "country-link");

                if (display === null || link === null) {
                    found_all_components = false;
                    return;
                }

                displays.push(display);
                links.push(link);

                rotations.push(new THREE.Vector3(
                    Number(banner.dataset.target_rotation_x) ?? 0.0,
                    Number(banner.dataset.target_rotation_y) ?? 0.0,
                    Number(banner.dataset.target_rotation_z) ?? 0.0,
                ));

                link.addEventListener("click", () => {
                    setItem(index);
                });
            });

            if (!found_all_components) return;

            const nextItem = (delta: number): void => {
                let new_idx = (this.nav_idx + delta) % banners.length;

                if (new_idx < 0) {
                    new_idx += banners.length;
                }

                setItem(new_idx);
            };

            document.addEventListener("keydown", (ev: KeyboardEvent) => {
                switch (ev.key) {
                    case "w":
                    case "ArrowUp":
                        nextItem(-1);
                        break;
                    case "s":
                    case "ArrowDown":
                        nextItem(1);
                        break;
                }
            });

            setItem(0);
        }
    }

    customElements.define("world-panel", WorldPanel);
</script>