---
import "../styles/global.css";
import { DEFAULT_LANGUAGE, type Language } from "../config/language";
import buildMetaData, { type SiteMetaData, type PageLink } from "../config/site";

interface Props {
    title?: string;
    additional_links?: PageLink[];
    language?: Language;

    body_class?: string;
    body_style?: string | astroHTML.JSX.CSSProperties;
}

export type RootLayoutProps = Props;

const language: Language = Astro.props.language ?? DEFAULT_LANGUAGE;
const meta_data: SiteMetaData = buildMetaData(language, Astro.props.title);
---

<!DOCTYPE html>
<html lang={language}>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={meta_data.description}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {meta_data.authors.map((author: string) => (
            <meta name="author" content={author}>
        ))}

        <link rel="icon" href={meta_data.icon_path} type="image/x-icon">

        {meta_data.static_links.map((link: PageLink) => (
            <link {...link} />
        ))}

        {Astro.props.additional_links?.map((link: PageLink) => (
            <link {...link} />
        ))}

        <title>{meta_data.title}</title>
    </head>
    <body class={Astro.props.body_class} style={Astro.props.body_style}>
        <slot/>
    </body>
</html>