---
import "../styles/global.css";

type Props = {
    title?: string;
};

export type RootLayoutProps = Props;

type SiteMetaData = {
    title: string;
    description: string;
    authors: string[];
    icon_path: string;
};

const meta_data: SiteMetaData = {
    title: Astro.props.title
        ? `Novice Engineer - ${Astro.props.title}`
        : 'Novice Engineer Studio',
    description: (
        "Welcome to the Novice Engineering Studio! This website serves as a " +
        "hub for all of our current and prior projects; A fun place to document " +
        "our continued growth as a studio, as well as announce what we're up to. " +
        "Hope to see you there!"
    ),
    authors: [
        "Novice Engineer",
    ],
    icon_path: "/favicon.ico",
};
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={meta_data.description}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {meta_data.authors.map((author: string) => {
            <meta name="author" content={author}>
        })}

        <link rel="icon" href={meta_data.icon_path} type="image/x-icon">

        <title>{meta_data.title}</title>
    </head>
    <body>
        <slot/>
    </body>
</html>