---
import "../styles/global.css";

type RootLayoutProps = {
    title?: string;
};

type SiteMetaData = {
    title: string;
    description: string;
    authors: string[];
    icon_path: string;
};

const { title = '' } = Astro.props as RootLayoutProps;

const meta_data: SiteMetaData = {
    title: title ? `Novice Engineer - ${title}` : 'Novice Engineer',
    description: "",
    authors: [
        "Novice Engineer",
    ],
    icon_path: "favicon.ico",
};
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content={meta_data.description}>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {meta_data.authors.map((author: string) => {
            <meta name="author" content={author}>
        })}

        <link rel="icon" href={meta_data.icon_path} type="image/x-icon">

        <title>{meta_data.title}</title>
    </head>
    <body>
        <slot/>
    </body>
</html>