---
import type { ServiceLink } from "../data/types/ServiceLink";
import RootLayout, { type RootLayoutProps } from "./RootLayout.astro";

interface Props extends RootLayoutProps {
    class?: string;

    tier: number;
    links: ServiceLink[];
};

export type ServiceLayoutProps = Props;
---

<RootLayout title={Astro.props.title} additional_links={Astro.props.additional_links}>
    <main class={Astro.props.class}>
        <slot/>

        <service-hamburger class="fixed top-0 left-0 z-999 transition duration-150">
            {Astro.props.title !== undefined &&
                <div class="fixed bottom-0 left-0 rounded-tr-full bg-black/75 text-white pl-4 pr-8 py-1 text-sm max-w-[60vw]">
                    <p class="truncate">{Astro.props.title}</p>
                </div>
            }

            <div
                id="service-menu"
                class="fixed top-0 h-screen right-0 bg-zinc-900/95 text-white text-lg flex translate-x-full transition duration-150"
            >
                <div class="flex flex-col gap-4 overflow-y-auto pt-8 pl-6 pr-24 mb-24">
                    <a href="/" class="hover:underline">Home</a>
                    {Astro.props.links.map((link) => (
                        <a href={link.href} class={
                            link.tier === Astro.props.tier
                            ? "font-bold underline"
                            : "hover:underline"
                        }>
                            {link.tag}
                        </a>
                    ))}
                </div>
            </div>

            <div
                id="service-button"
                class="fixed bottom-5 right-5 bg-black/75 p-2 cursor-pointer rounded-sm"
            >
                <div id="service-bar-1" class="bg-white transition duration-300 rounded-full h-1 w-5" />
                <div id="service-bar-2" class="bg-white transition duration-300 rounded-full h-1 w-5 my-1" />
                <div id="service-bar-3" class="bg-white transition duration-300 rounded-full h-1 w-5" />
            </div>
        </service-hamburger>
    </main>
</RootLayout>


<script>
    class ServiceHamburger extends HTMLElement {
        private is_menu_open: boolean = false;

        constructor() {
            super();
            this.setupMenuToggle();
        }

        private setupMenuToggle(): void {
            let btn: Element | null = null;
            let menu: Element | null = null;

            for (let idx: number = 0; idx < this.children.length; ++idx) {
                const cur_elem: Element | null = this.children.item(idx);

                if (cur_elem === null) {
                    continue;
                }

                switch (cur_elem.id) {
                    case "service-button":
                        btn = cur_elem;
                        break;
                    case "service-menu":
                        menu = cur_elem;
                        break;
                }
            }

            if (
                btn === null ||
                menu === null
            ) {
                return;
            }

            let bar_1: Element | null = null;
            let bar_2: Element | null = null;
            let bar_3: Element | null = null;

            for (let idx: number = 0; idx < btn.children.length; ++idx) {
                const cur_elem: Element | null = btn.children.item(idx);

                if (cur_elem === null) {
                    continue;
                }

                switch (cur_elem.id) {
                    case "service-bar-1":
                        bar_1 = cur_elem;
                        break;
                    case "service-bar-2":
                        bar_2 = cur_elem;
                        break;
                    case "service-bar-3":
                        bar_3 = cur_elem;
                        break;
                }
            }

            if (
                bar_1 === null ||
                bar_2 === null ||
                bar_3 === null
            ) {
                return;
            }

            const toggleMenuOpen = () => {
                this.is_menu_open = !this.is_menu_open;

                this.classList.toggle("w-screen");
                this.classList.toggle("h-screen");
                this.classList.toggle("bg-black/75");

                menu.classList.toggle("translate-x-full");

                bar_1.classList.toggle("-rotate-45");
                bar_1.classList.toggle("translate-y-2");
                bar_2.classList.toggle("rotate-45");
                bar_3.classList.toggle("scale-y-0");
            };

            btn.addEventListener("click", toggleMenuOpen);
            document.addEventListener("click", (ev: PointerEvent) => {
                if (!this.is_menu_open) {
                    return;
                }

                const target = ev.target as Node | null;
                
                if (target === null) {
                    return;
                }

                if (btn.contains(target) || menu.contains(target)) {
                    return;
                }

                toggleMenuOpen();
            });
        }
    }

    customElements.define("service-hamburger", ServiceHamburger);
</script>